* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 238, 230);
}

header {
      background-color: rgb(35, 35, 45);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo p {
    color: rgb(218, 181, 92);
    font-size: 18px;
}

#titulo h1 {
    color: rgb(255, 155, 61);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#menu {
    display: flex;
    gap: 20px;
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 155, 61);
    font-size: 30px;
}

header h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(218, 181, 92);
}

strong {
    color: rgb(218, 181, 92);
}

header section {
    display: flex;
    gap: 20px;
}

header section a {
    color: white;
}

#introducao {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    background-color: rgb(116, 27, 45);
}

#introducao article {
    flex: 1;
    color: white;
}

#introducao h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 15px;
}

#introducao img {
    width: 350px;
    height: 250px;
}

#titulo-casas {
     background-color: rgb(35, 35, 45);
    color: white;
    padding: 50px;
}

#casas {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
    background-color: rgb(35, 35, 45);
    color: white;
}

#casas h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(218, 181, 92);
    margin-bottom: 20px;
}


.card {
    width: 20%;
    background-color: white;
    color: black;
    padding-bottom: 15px;
    border-radius: 10px;
    display: flex;
}

.card img {
    width: 100%;
}

.card h3 {
    margin: 10px;
}

.card p {
    margin: 10px;
}

#universo {
    padding: 35px;
    background-color: rgb(116, 27, 45);
    color: white;
}

#universo h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 15px;
}
#historia h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 15px;
}
#hogwarts h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 15px;
}

#universo h2 {
    color: rgb(218, 181, 92);
}

#historia {
    padding: 35px;
    background-color: rgb(240, 238, 230);
}

#historia h2 {
    color: rgb(116, 27, 45);
}

#historia p{
    margin-bottom: 10px;
}

#universo p{
    margin-bottom: 10px;
}

#hogwarts p {
    margin-bottom: 10px;
}

#hogwarts {
    padding: 35px;
    background-color: rgb(240, 238, 230);
}

#hogwarts h2 {
    color: rgb(116, 27, 45);
}

footer {
    background-color: rgb(35, 35, 45);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu-final {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 10px;
}
#menu-final a {
    color: rgb(218, 181, 92);
}
