* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 238, 230);
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(35, 35, 45);
}


h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 155, 61);
    font-size: 30px;
}

header h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(218, 181, 92);
}

strong {
    color: rgb(218, 181, 92);
}

header section {
    display: flex;
    gap: 20px;
}

header section a {
    color: white;
}

#introducao {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    background-color: rgb(116, 27, 45);
}

#introducao article {
    flex: 1;
    color: white;
}

#introducao h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 15px;
}

#introducao img {
    width: 350px;
    height: 250px;
}

#casas {
    padding: 35px;
    background-color: rgb(35, 35, 45);
    color: white;
}

#casas h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(218, 181, 92);
    margin-bottom: 20px;
}

.lista {
    display: flex;
    gap: 15px;
}

.card {
    width: 20%;
    background-color: white;
    color: black;
    padding-bottom: 15px;
    border-radius: 10px;
}

.card img {
    width: 100%;
}

.card h3,
.card p {
    margin: 10px;
}

#universo {
    padding: 35px;
    background-color: rgb(116, 27, 45);
    color: white;
}

#universo h2,
#historia h2,
#hogwarts h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 15px;
}

#universo h2 {
    color: rgb(218, 181, 92);
}

#historia {
    padding: 35px;
    background-color: rgb(240, 238, 230);
}

#historia h2 {
    color: rgb(116, 27, 45);
}

#historia p,
#universo p,
#hogwarts p {
    margin-bottom: 10px;
}

#hogwarts {
    padding: 35px;
    background-color: rgb(240, 238, 230);
}

#hogwarts h2 {
    color: rgb(116, 27, 45);
}

footer {
    padding: 20px;
    background-color: #22222c;
    color: white;
    text-align: center;
}